if page.path
  if environment == "development" || !inlining
    script(src=page.path+"js/script.js")
  else if environment == "production" && inlining
    script.
      @@include(page.path+"js/script.js")
else
  if environment == "development" || !inlining
    script(src="js/script.js")
  else if environment == "production" && inlining
    script.
      @@include("js/script.js")
