extends ../layouts/layout

block append vars
  - var key = "index"
  - var page = settings[key]

block append head
  style.
    .text {
      fill: none;
      stroke-width: 5;
      stroke-linejoin: round;
      stroke-dasharray: 100 450;
      stroke-dashoffset: 0;
      animation: stroke 10s infinite linear;
    }
    .text:nth-child(5n + 1) {
      stroke: #F2385A;
      animation-delay: -2s;
    }
    .text:nth-child(5n + 2) {
      stroke: #F5A503;
      animation-delay: -4s;
    }
    .text:nth-child(5n + 3) {
      stroke: #555;
      animation-delay: -6s;
    }
    .text:nth-child(5n + 4) {
      stroke: #56D9CD;
      animation-delay: -8s;
    }
    .text:nth-child(5n + 5) {
      stroke: #3AA1BF;
      animation-delay: -10s;
    }

    @keyframes stroke {
      100% {
        stroke-dashoffset: -550;
      }
    }

    /* Other styles */
    html, body {
      height: 100%;
    }

    body {
      background: #fff;
      background-size: .2em 100%;
      font: 5em/1 Open Sans, Impact;
      margin: 0;
    }

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }

block css

block contents
  main
    svg(viewBox="0 0 600 300")
      //- Symbol
      symbol#s-text
        text(text-anchor="middle", x="50%", y="50%", dy=".35em")
          | This is Gulp
      //- Duplicate symbols
      use.text(xlink:href="#s-text")
      use.text(xlink:href="#s-text")
      use.text(xlink:href="#s-text")
      use.text(xlink:href="#s-text")
      use.text(xlink:href="#s-text")
