extends ../../layouts/layout.pug

block vars
  include ../../config.pug
    - var key = "underlayer"
    - var page = settings[key].page1

block contents
  main.main
    h2 This is Testpage
    p #{page.name}
