include ../mixins/generic

doctype html
block vars
  include ../data
html(lang="ja" dir="ltr")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + (key == "index" ? "website" : "article") + ": http://ogp.me/ns/" + (key == "index" ? "website" : "article") + "#")
    include ../includes/meta
      
  body
    include ../includes/header
    block contents
    include ../includes/footer
    include ../includes/script
    
