include ../mixins/generic.pug

doctype html
block vars
html(lang="ja" dir="ltr")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + (key == "index" ? "website" : "article") + ": http://ogp.me/ns/" + (key == "index" ? "website" : "article") + "#")
    include ../includes/meta.pug
      
  body
    include ../includes/header.pug
    block contents
    include ../includes/footer.pug
    include ../includes/script.pug
    
